<div class="row">
    <div class="col">
        <h3 class="mb-3">Settings</h3>
        <form [formGroup]="form">
            <div class="form-group">
                <label for="apiKey">NewsAPI.org</label>
                <input type="text" class="form-control" formControlName="apiKey" placeholder="API from newsapi.org">
                <small id="apikeyHelp" class="form-text text-muted">Please enter the API key from newsapi.org</small>
            </div>
            <div class="btn-toolbar justify-content-between">
                <div>
                    <button type="button" class="btn btn-warning" [routerLink]="['/']">Back</button>
                    <button type="button" class="btn btn-danger ml-3" [disabled]="form.invalid" (click)="deleteKey()">Delete</button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="addKey()">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>